---
import { getEntry } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

const { slug } = Astro.params;

// پست را از کالکشن 'blog' پیدا می‌کنیم
const entry = await getEntry("blog", slug);

if (!entry) {
  throw new Error(`Post not found: ${slug}`);
}

const { Content, data } = await entry.render();
---

<BlogLayout>
  <h1>{data.title}</h1>
  <p><small>{data.date}</small></p>
  <article>
    <Content />
  </article>
</BlogLayout>
