---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const posts = await getCollection("blog");
const entry = posts.find((post) => post.slug === slug);

if (!entry) {
  return { props: { error: true } };
}

const { Content, frontmatter } = await entry.render();
---

<BlogLayout>
  {entry ? (
    <>
      <h1>{frontmatter.title}</h1>
      <p><small>{frontmatter.date}</small></p>
      <article><Content /></article>
    </>
  ) : (
    <p>پست یافت نشد.</p>
  )}
</BlogLayout>
