---
export const prerender = true;
---

<!DOCTYPE html>
<html dir="rtl" lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>404 - صفحه پیدا نشد</title>

    <!-- جلوگیری از ایندکس شدن 404 -->
    <meta name="robots" content="noindex, nofollow" />
  </head>

  <body>

    <!-- بدون هیچ متن قابل ایندکس -->

    <script>
      const current = window.location.pathname;

      // ریدایرکت صفحات fa → نسخه جدید
      if (current.startsWith("/fa/")) {
        const newPath = current.replace(/^\/fa\//, "/");

        // جلوگیری از حلقه بی‌نهایت
        if (newPath !== current) {
          window.location.replace(newPath);
        }
      }
    </script>
<h1>پیدا نشد!</h1>
<p>ممکن است جابه جا، حذف یا اصلاً وجود نداشته باشد.</p>
  </body>
</html>
