<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% seo %}
{% include head.html %}
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        {% if page.lang == "fa" %}
        <li><a href="{{ "/" | relative_url }}">صفحه اصلی</a></li>
        <li><a href="{{ "/fa/about" | relative_url }}">درباره</a></li>
        {% elsif page.lang == "en" %}
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/fa/about" | relative_url }}">About</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <article>
    <p><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
    {{ content }}
  </article>
  <script src="https://utteranc.es/client.js"
        repo="abwalfdltnha178/abwalfdltnha178.github.io"
        issue-term="pathname"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. تمام حقوق محفوظ است.</p>
  </footer>
</body>
</html> 
