---
import "../styles/a.css";
---

<html dir="rtl" lang="fa">
  <head>
    <meta charset="UTF-8" />
    <title>وبلاگ</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
